# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# Vite cache
.vite/

# Local env files


# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Optional: if you're using Mac/Linux and don't want to commit these
*.swp
*.swo
*.swn
*.bak
